apiVersion: apps/v1
kind: Deployment  # â† The "kind" that was missing in your error
metadata:
  name: backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
      - name: backend
        image: joanneedada/backend:1.0.0
        ports:
        - containerPort: 8080